/*PARALLAX*/
/*.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.back {
    transform: translateZ(-2px) scale(3) translate( -5px, 0);
}
.mid {
    transform: translateZ(-1px) scale(2) translate(-4px, 0);
}
.front {
    transform: translateZ(0px);
}*/
/*GENERAL*/
html {
    scroll-behavior: smooth;
}
:root {
    --f1: clamp(4rem, 8vw + 1rem, 8rem);
    --f2: 3rem;
    --f3: 1rem;

    --bg: rgb(255, 242, 242);
    --fg: rgb(20, 19, 19);
}
@media (pointer:coarse) {
    :root {
    --f2: 4rem;
    --f3: 1.75rem;
    }
}

::-webkit-scrollbar {
    width: 15px;  
    height: 20px;
}
::-webkit-scrollbar-track {
    background: var(--fg);
}
::-webkit-scrollbar-thumb {
    aspect-ratio: 1/1;
    border-radius: 100vw;
    border: solid 3px var(--fg);
    background: var(--bg);
}

body{
    background-color: var(--bg);
    margin: 0;
}
.backbtn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    border: solid 0.25rem var(--bg);
    color: var(--bg);
    text-transform: uppercase;
    font-size: var(--f3);
    background-color: var(--fg);
    transition: background-color ease 0.25s;
    z-index: 2;
}
.backbtn:hover {
    background-color: var(--bg);
    color: black;
}
p {
    font-size: var(--f3);
}
.fancy-p {
    font-size: var(--f3);
    color: var(--bg);
    background-color: var(--fg);
    border: 35px solid;
    border-image-source: url("border.png");
    border-image-outset: 35px;
    border-image-slice: 35;
    border-image-repeat: round;  
    margin: 85px;   
}
/*HOME*/
.logo{
    height: clamp(25rem, 40vw + 1rem, 40rem);
    width: 100%;
    background-color: var(--fg);
    background-position: center;
    background-size: 50%;    
}
.homearea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg);    
    border: 60px solid;
    border-image-source: url("border2.png");
    border-image-slice: 60;
    border-image-repeat: round;  
    margin: 50px;     
}
.homesets{ 
    margin: 0; 
    flex-grow: 1;    
}
.homesets img{
    display: block;
    margin: 0 auto;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.5) 1px;
    box-shadow: black 0 0 5px;
    scale: 98%;
    mix-blend-mode:luminosity;
    transition: scale ease-in-out 0.25s;    
}
.homesets img:hover{
    mix-blend-mode: normal;
    scale: 100%;
}
.homesets figcaption{
    color: black; 
    text-align: center;
    text-transform: uppercase;
    font-size: var(--f2);   
}
.photo{
    background-position: center;
    background-size: cover;    
}
.film{
    background-position: center;
    background-size: cover;    
}
.anim{
    background-position: center;
    background-size: cover;    
}

/*PHOTOGRAPHY*/
h2 {
    color: var(--bg);
    font-size: var(--f1);    
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: var(--f1) 1rem 1rem 1rem;
    background-color: var(--fg);
}
.divide {
    height: clamp(2rem, 3vw + 1rem, 4rem);  
    width: 100%;
    background-image: url("divide.svg");
    background-position: center;     
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3rem 0 0 0;
}
.photoarea {
    display: grid;
    background-color: var(--bg);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 19rem;
    grid-auto-rows: 19rem;
    margin: 30px 0;

}
.photosets {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
    mix-blend-mode: luminosity;
    transition: box-shadow ease 0.2s;
}
.photosets:hover {
    mix-blend-mode: normal;
    box-shadow: black 0 0 15px;
}
.photosets img {
    object-fit: cover;
    height: 100%;
    width: 100%;    
} 
.photosets figcaption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bg);
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-size: var(--f2);
    opacity: 50%;
}
.gallery {
    position: relative;
    overflow: hidden;
    background-color: var(--fg);
    border: 60px solid;
    border-image-source: url("border.png");
    border-image-slice: 60;
    border-image-repeat: round; 
    border-image-outset: 18px;
    margin: 30px;

}
.gallery-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%; 
    aspect-ratio: 1/1;
    max-width: 750px;  
    margin: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
}
.gallery-image {    
    scroll-snap-align: center;   
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.pre-btn,
.nxt-btn {
    position: absolute;
    display: flex;   
    background: linear-gradient( to left, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)); 
    top: 0;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border: none;
    width: 100px;
    opacity: 5%;
    transition: opacity ease 0.25s;
    z-index: 1;
}
.pre-btn:hover,
.nxt-btn:hover{
    opacity: 25%;
}
.pre-btn {
    transform: rotate(180deg);
    left: 0;
}
.nxt-btn {
    right: 0;
}
.pre-btn:active,
.nxt-btn:active{
    width: 98px;
}
.image-1{
    background-image: url("nat1.jpg");    
}
.image-2{
    background-image: url("nat2.jpg");    
}
.image-3{
    background-image: url("nat3.jpg");    
}
.image-4,
.image-5,
.image-6,
.image-7,
.image-8,
.image-9 {
    background-image: url("border.png");
}
.testImg {
    width: 300px;
    height: 300px;
    background-image: url("oth3.jpg");
    background-size: cover;
    font-size: 50px;
    color: white;
}
.testImg2 {
    width: 300px;
    height: 300px;
}
/*
.image-4{
    background-image: url("");    
}
.image-5{
    background-image: url("");    
}
.image-6{
    background-image: url("");    
}
.image-7{
    background-image: url("");    
}
.image-8{
    background-image: url("");    
}
.image-9{
    background-image: url("");    
}*/
/*CONTACT*/
.links {
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
    background-color: var(--fg);
    justify-items: center;
    align-items: center;
}
.links a {
    color: grey;
    font-size: var(--f3);
    text-decoration-line: none;   
    transition: color ease .25s; 
}
.links a:hover {
    color: white;
}
.email {
    color: white;
    font-size: var(--f3);
    margin: 1rem 0;
}
@media screen and (max-width: 1000px) {   
    .photoarea {
        grid-template-columns: 1fr;
    }
    .homearea {
        grid-template-columns: 1fr;
    }
    .pre-btn,
    .nxt-btn {
        border-radius: 0;
    }
}