/*PARALLAX*/
/*.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.back {
    transform: translateZ(-2px) scale(3) translate( -5px, 0);
}
.mid {
    transform: translateZ(-1px) scale(2) translate(-4px, 0);
}
.front {
    transform: translateZ(0px);
}*/
/*GENERAL*/
html {
    scroll-behavior: smooth;
}
:root {
    --f1: clamp(3rem, 4vw + 1rem, 4rem);
    --f2: 1rem;

    --bg: rgb(255, 242, 242);
    --fg: rgb(20, 19, 19);
}
::-webkit-scrollbar {
   width: 15px;
   height: 0; 
}
::-webkit-scrollbar-thumb {
    margin: 1rem 0;
    background-color: var(--fg);
    border: solid 2px var(--bg);
    border-radius: 1vw;
}
::-webkit-scrollbar-track {
    background-color: var(--fg);
}
@media (pointer:coarse) {
    :root {
    --f2: 1.75rem
    }
}
body{
    background-color: var(--bg);
    margin: 0;
    overflow-x: hidden;
}
.backbtn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    border: solid 0.1rem var(--bg);
    color: var(--bg);
    text-transform: uppercase;
    font-size: var(--f2);
    background-color: var(--fg);
    transition: all ease 0.25s;
    z-index: 2;
}
.backbtn:hover {
    background-color: var(--bg);
    color: black;
}
p {
    font-size: var(--f2);
}
.fancy-p {
    font-size: var(--f2);
    color: var(--bg);
    background-color: var(--fg);
        border: 30px solid;
        border-image-source: url("border.png");
        border-image-outset: 10px;
        border-image-slice: 60;
        border-image-repeat: round;  
    margin: 25px;   
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    scale: 75%;
    rotate: 5deg;
    transition: all .75s;
}
.show {
    opacity: 1;
    filter: none;
    scale: 100%;
    rotate: 0deg;
}

/*border: 30px solid;
border-image-source: url("border2.png");
border-image-slice: 60;
border-image-repeat: round;  
margin: 15px;  */

/*HOME*/
@keyframes roll {
0% {background-image: url("img3d.jpg")}
33%{background-image: url("imgfilm.jpg")}
66%{background-image: url("imgphoto.jpg")}
100%{background-image: url("img3d.jpg")}
}   

.homemenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25rem;
    background-color: var(--fg);  
}
.menubg{  
    background-image: url("img3d.jpg");
    background-size: 75%;
    background-position: center;
    background-color: var(--fg);
    filter: blur(5px);
    scale: 165%;
    margin-bottom: 0px;
    grid-area: 1/1/2/4;
    animation: roll infinite 10s normal;
}
.logo{  
    background-image: url("Logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    grid-area: 1/1/2/4;
    z-index: 1;
}
.menubtn{
    font-family:serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--f2);
    color: var(--bg);
    background-color: var(--fg);
    opacity: 100%;
        border: 30px solid;
        border-image-source: url("border.png");
        border-image-outset: 10px;
        border-image-slice: 60;
        border-image-repeat: round; 
    margin: 25px;
    z-index: 1;
    transition: all 0.25s ease;
}
.menubtn:hover{
    opacity: 90%;
    border-image-slice: 70;
}
/*PHOTOGRAPHY*/
#phoGal {
    color: var(--fg);
    font-size: var(--f1);    
    text-align: center;
    text-transform: uppercase;
    margin: 20% 0 0 0;
}
.divide {
    height: clamp(2rem, 2.5vw + 1rem, 3rem);  
    width: 100%;
    transform: rotate(180deg);
    background-image: url("divide.svg");
    background-position: center;     
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem 0;
}
.photoarea {
    display: grid;
    background-color: var(--bg);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 15rem;
    grid-auto-rows: 20rem;
    margin: 30px 15%;
}
.photosets {
    position: relative;
    border: double 6px rgba(0, 0, 0, 0.5);
    filter: grayscale(100%);
    transition: all ease 0.25s;
}
.photosets:hover {
    border: double 6px rgba(0, 0, 0, 0.25);
    filter: none; 
}
.photosets img {
    object-fit: cover;
    height: 100%;
    width: 100%;    
} 
.photosets figcaption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bg);
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-size: 2.25rem;
    opacity: 50%;
}
.gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: .5rem;
    background-color: var(--fg);
    border: 30px solid;
        border-image-source: url("border.png");
        border-image-slice: 60;
        border-image-repeat: round; 
        border-image-outset: 10px;   
    margin: 30px;
    padding: 0;
}
.gallery-image {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    scroll-snap-align: center;  
    background-position: center;
    background-size: cover;
    object-fit: cover;
    aspect-ratio: 2/3;
}

.gallery-image:nth-child(4) {
    transition-delay: 50ms;
}
.gallery-image:nth-child(7) {
    transition-delay: 100ms;
}
.gallery-image:nth-child(10) {
    transition-delay: 150ms;
}
.gallery-image:nth-child(13) {
    transition-delay: 200ms;
}
.gallery-image:nth-child(16) {
    transition-delay: 250ms;
}

.gallery-image:nth-child(5) {
    transition-delay: 50ms;
}
.gallery-image:nth-child(8) {
    transition-delay: 100ms;
}
.gallery-image:nth-child(11) {
    transition-delay: 150ms;
}
.gallery-image:nth-child(14) {
    transition-delay: 200ms;
}
.gallery-image:nth-child(17) {
    transition-delay: 250ms;
}

.gallery-image:nth-child(6) {
    transition-delay: 50ms;
}
.gallery-image:nth-child(9) {
    transition-delay: 100ms;
}
.gallery-image:nth-child(12) {
    transition-delay: 150ms;
}
.gallery-image:nth-child(15) {
    transition-delay: 200ms;
}
.gallery-image:nth-child(18) {
    transition-delay: 250ms;
}


.gal1{
    display: block;
}
.gal2{
    display: none;
}
.gal3{
    display: none;
}

/*RENDERS*/
#renders {
    color: var(--bg);
    font-size: var(--f1);    
    text-align: center;
    text-transform: uppercase;
    margin: 25% 0 0 0;
    padding: 1rem;
    background-color: var(--fg); 
}
.breakdown {
    display: grid;
    background-color: var(--fg);
    border-top: double 6px var(--bg);
    border-bottom: double 6px var(--bg);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 25px 25%;
}
.slide {
    width: 100%;
    border-radius: 50%;
    transition: all ease .5s;
}
.folio {
    display: grid;
    background-color: var(--fg);
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    padding: 1rem;
}
.piece {
    width: 100%;
    border-radius: .5rem;
}
/*FILM*/
#movieTheater {
    color: var(--bg);
    font-size: var(--f1);    
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: var(--f1) 1rem 1rem 1rem;
    background-color: var(--fg);
}
.viewer {
    width: 50%;
    padding: 0 25%;
    background-color: var(--fg);
    aspect-ratio: 16/9;
}
.viewer iframe {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: .5rem;
}
.posters {
    display: grid;
    background-color: var(--fg);     
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.details {
    grid-area: 1/1/2/2;
    width: 50%;
    margin: 0 auto;
        display: grid;
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: repeat(2, 312px);
        padding: 2.5rem;
}
.stills {
    width: 100%;
    height: 100%;
    grid-area: 1/2/2/4;
    background-size: cover;
    background-position: center;
    background-image: url('still4.jpg');
}
.summary {
    color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(to right,rgba(0, 0, 0, 0), var(--fg));   
    grid-area: 1/2/2/4;
    margin: 0;
    padding: 1rem 2rem;
    overflow-y: hidden;
    z-index: 1;
}
.list {
    grid-area: 1/1/2/2;
    width: 50%;
    margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 312px;
        gap: 2.5rem;
    padding: 2.5rem;
}
.poster {
    height: 100%;
    width: 250px;
    scale: 105%;
    margin: 0;
    background-color: black;
    box-shadow: 0 0 5px black;
    border-radius: .5rem;    
    opacity: 50%;
    transition: all .25s ease;
    justify-self: center;         
}
.Tposter {
    grid-row: 1/2;
    grid-column: 1 / -1;
    opacity: 100%;
    justify-self: left;
}
.poster:hover {
    scale: 107%;
    opacity: 100%;
    box-shadow: 0 0 15px black;
}
/*CONTACT*/
.links {
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
    background-color: var(--fg);
    justify-items: center;
    align-items: center;
}
.links a {
    color: grey;
    font-size: var(--f2);
    text-decoration-line: none;   
    transition: color ease .25s; 
}
.links a:hover {
    color: white;
}
.email {
    color: white;
    font-size: var(--f2);
    margin: 1rem 0;
}
/*HIDDEN*/

@media screen and (max-width: 1000px) {   
    .homemenu{
        background-color: var(--bg);
        grid-template-columns: repeat(1, 1fr);
    }
    .menubg {
        background-size: cover;
        scale: 105%;
        margin-bottom: 15px;        
        grid-area: 1/1/2/2;  
    }
    .logo{
        margin-bottom: 15px;        
        grid-area: 1/1/2/2;
    }
    .menubtn{
        margin: 25px;
    }

    .gallery{
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        border: none;
        margin: 0;
        padding: .5rem;
    }
    .gallery-image{
        aspect-ratio: 1/1;
    }
    .photoarea {
        margin: 30px 0;
    }
    .photosets {
        margin: 1rem;
    }
    
    .breakdown {
        padding: 25px;
    }

    .viewer {
        width: 100%;
        padding: 0;
    }
    .viewer iframe {
        border-radius: 0;
    }

    .details {
        width: 90%;        
    }
    .list {
        width: 90%;
    }
}